.body {
    font-family: 'Kanit', 'sans-serif';
    font-weight: 600;
}

h1 {
    font-family: 'Sarabun', 'sans-serif';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 600;
}

h2 {
    font-family: 'Sarabun', 'sans-serif';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.container-fluid {
    padding: 3% 15%;
}

#title {
    background-color: #FCE22A;
    color: #fff;
}


/* Navigation Bar */

.navbar {
    /* padding: 0 0 0; */
    padding: 3px solid #D61355;
}

.navbar-brand {
    font-family: 'Sarabun';
    font-size: 2.5rem;
    font-weight: 300;
}

.navbar-img {
    width: 70px;
}

.nav-item {
    padding: 10px 10px 0;
}

.nav-link {
    font-size: 1.5rem;
    font-family: 'Sarabun';

}

.nav-link:hover {
    transform: translate(0px, -5px);
    text-decoration: underline solid #35393d 4px;
}

.nav-font {
    color: black;
    font-weight: 500;
    font-family: 'Kanit';
    text-align: right;
}

.hover-font {
    color: #D61355;
    font-weight: 500;
    font-family: 'Kanit';
}

.hover-font:hover {
    color: white;
    font-weight: 900;
    font-family: 'Kanit';
    
}

.navbar-dark .navbar-toggler {
    color: rgb(214, 19, 85);
    border-color: rgb(214, 19, 85);
    border: 3px solid;
}

.navbar-dark:hover .navbar-toggler:hover {
    color: #20262E;
    background-color: #20262E;
    border-color: #20262E;
    border: 3px solid;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(214,	19,	85)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* Dowload Botton */

.download-botton {
    color: #D61355 !important;
    border: 3px solid #D61355;
    font-weight: 500;
    font-family: 'Kanit';
}

.download-botton:hover {
    color: white !important;
    font-weight: 500;
    font-family: 'Kanit';
}